In [1]:
hello = "Hello World"
print(hello)

(4 + 4 - 2) * 3

Hello World

18

In [2]:
a = 5
print(a)

5

In [4]:
a = 5
b = 10
print(ab)

NameError: name 'ab' is not defined

In [5]:
a

5

In [6]:
b

10

In [7]:
a

5

In [8]:
b

10

In [9]:
import os

In [10]:
import csv

In [11]:
csvpath = os.path.join("Last Man Standing", "Resources", "netflix_ratings.csv")

In [12]:
found = false

NameError: name 'false' is not defined

In [13]:
video = input("What show or movie are you looking for? ")

What show or movie are you looking for? Last Man Standing

In [14]:
csvpath = os.path.join("..", "Resources", "netflix_ratings.csv")

In [15]:
found = false

NameError: name 'false' is not defined

In [16]:
with open(csvpath) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")

FileNotFoundError: [Errno 2] No such file or directory: '../Resources/netflix_ratings.csv'

In [17]:
for row in csvreader:
        if row[0] == video:
            print(row[0] + " is rated " + row[1] + " with a rating of " + row[5])

NameError: name 'csvreader' is not defined

In [18]:
import os
import csv

# Prompt user for video lookup
video = input("What show or movie are you looking for? ")

# Set path for file
csvpath = os.path.join("..", "Resources", "netflix_ratings.csv")

# Bonus
# ------------------------------------------
# Set variable to check if we found the video
found = False

# Open the CSV
with open(csvpath) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")

    # Loop through looking for the video
    for row in csvreader:
        if row[0] == video:
            print(row[0] + " is rated " + row[1] + " with a rating of " + row[5])

            # BONUS: Set variable to confirm we have found the video
            found = True

            # BONUS: Stop at first results to avoid duplicates
            break

    # If the video is never found, alert the user
    if found is False:
        print("Sorry about this, we don't seem to have what you are looking for!")

What show or movie are you looking for? Last Man Standing

FileNotFoundError: [Errno 2] No such file or directory: '../Resources/netflix_ratings.csv'

In [19]:
# Open the CSV
with open(csvpath) as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")
    # Loop through looking for the video
    for row in csvreader:
        if row[0] == video:
            print(row[0] + " is rated " + row[1] +
                  " with a rating of " + row[5])
            # Set variable to confirm we have found the video
            found = True
    # If the video is never found, alert the user
    if found == False:
        print("We don't seem to have what you are looking for!")
Collapse

FileNotFoundError: [Errno 2] No such file or directory: '../Resources/netflix_ratings.csv'

In [20]:
import pandas as pd

In [22]:
list = [
    "A"
    "B"
    "c"
    "d"
]

In [23]:
list

['ABcd']

In [24]:
states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ"},
                {"STATE": "New York", "ABBREVIATION": "NY"}]

states_df = pd.DataFrame(states_dicts)
states_df

        STATE ABBREVIATION
0  New Jersey           NJ
1    New York           NY

In [25]:
pharaoh_df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharaoh": ["Thinis", "Memphis"]
     }
)
pharaoh_df

                 Dynasty  Pharaoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis

In [26]:
data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine",
                         "University of Central Florida", "Rutgers University"])
data_series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [27]:
FrameShop_df = pd.DataFrame(
    {"Frame": ["", "", "","",""],
     "Price": ["", "","",",",""]
     "Sales": ["","","","",""]
     }
)
FrameShop_df

SyntaxError: invalid syntax (<ipython-input-27-204b0603c542>, line 4)

In [28]:
FrameShop_df = pd.DataFrame(
    {"Frame": ["A", "B", "C","D","E"],
     "Price": ["A", "B","C","D","E"]
     "Sales": ["A","B","C","D","E"]
     }
)
FrameShop_df

SyntaxError: invalid syntax (<ipython-input-28-a34d06f5d59b>, line 4)

In [32]:
FrameShop_df = pd.DataFrame(
    {"Frame": ["A","B","C","D","E"],
     "Price": ["A","B","C","D","E"],
     "Sales": ["A","B","C","D","E"]
     }
)
FrameShop_df

  Frame Price Sales
0     A     A     A
1     B     B     B
2     C     C     C
3     D     D     D
4     E     E     E

In [33]:
data_series = pd.Series(["Painting", "Price", "Popularity",
                         ])
data_series

0      Painting
1         Price
2    Popularity
dtype: object

In [35]:
# DataFrame should have 3 columns: Frame, Price, and Sales AND 5 rows of data
frame_df = pd.DataFrame(
    {
    "Frame": ["Ornate", "Classical", "Modern", "Wood", "Cardboard"],
    "Price": [15.00, 12.50, 10.00, 5.00, 1.00],
    "Sales": [100, 200, 150, 300, "400"]
    }
)
frame_df

       Frame  Price Sales
0     Ornate   15.0   100
1  Classical   12.5   200
2     Modern   10.0   150
3       Wood    5.0   300
4  Cardboard    1.0   400

In [36]:
# Use a different method of creating DataFrames to
# Create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity"
# and has 4 rows of data
painting_df = pd.DataFrame(
    [
        {"Painting": "Mona Lisa (Knockoff)", "Price": 25, "Popularity": "Very Popular"},
        {"Painting": "Van Gogh (Knockoff)", "Price": 20, "Popularity": "Popular"},
        {"Painting": "Starving Artist", "Price": 10, "Popularity": "Average"},
        {"Painting": "Toddler Drawing", "Price": 1, "Popularity": "Not Popular"}
    ]
)
painting_df

               Painting  Price    Popularity
0  Mona Lisa (Knockoff)     25  Very Popular
1   Van Gogh (Knockoff)     20       Popular
2       Starving Artist     10       Average
3       Toddler Drawing      1   Not Popular

In [40]:
import pandas as pd
data_file = "Resources/dataSet.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

FileNotFoundError: [Errno 2] File b'Resources/dataSet.csv' does not exist: b'Resources/dataSet.csv'

In [41]:
data_file_df.describe()

NameError: name 'data_file_df' is not defined

In [43]:
data_file_df["Amount"],head()

NameError: name 'data_file_df' is not defined

In [44]:
average = data_file_df["Amount"].mean()
average

NameError: name 'data_file_df' is not defined

In [45]:
data_file = "Resources/dataSet.csv"
data_file_df = pd.read_csv(data_file)
data_file_df.head()

FileNotFoundError: [Errno 2] File b'Resources/dataSet.csv' does not exist: b'Resources/dataSet.csv'

In [46]:
import pandas as pd
training_df = pd.DataFrame({
    "Name":["Gino Walker","Hiedi Wasser","Kerrie Wetzel","Elizabeth Sackett","Jack Mitten","Madalene Wayman","Jamee Horvath","Arlena Reddin","Tula Levan","Teisha Dreier","Leslie Carrier","Arlette Hartson","Romana Merkle","Heath Viviani","Andres Zimmer","Allyson Osman","Yadira Caggiano","Jeanmarie Friedrichs","Leann Ussery","Bee Mom","Pandora Charland","Karena Wooten","Elizabet Albanese","Augusta Borjas","Erma Yadon","Belia Lenser","Karmen Sancho","Edison Mannion","Sonja Hornsby","Morgan Frei","Florencio Murphy","Christoper Hertel","Thalia Stepney","Tarah Argento","Nicol Canfield","Pok Moretti","Barbera Stallings","Muoi Kelso","Cicely Ritz","Sid Demelo","Eura Langan","Vanita An","Frieda Fuhr","Ernest Fitzhenry","Ashlyn Tash","Melodi Mclendon","Rochell Leblanc","Jacqui Reasons","Freeda Mccroy","Vanna Runk","Florinda Milot","Cierra Lecompte","Nancey Kysar","Latasha Dalton","Charlyn Rinaldi","Erline Averett","Mariko Hillary","Rosalyn Trigg","Sherwood Brauer","Hortencia Olesen","Delana Kohut","Geoffrey Mcdade","Iona Delancey","Donnie Read","Cesar Bhatia","Evia Slate","Kaye Hugo","Denise Vento","Lang Kittle","Sherry Whittenberg","Jodi Bracero","Tamera Linneman","Katheryn Koelling","Tonia Shorty","Misha Baxley","Lisbeth Goering","Merle Ladwig","Tammie Omar","Jesusa Avilla","Alda Zabala","Junita Dogan","Jessia Anglin","Peggie Scranton","Dania Clodfelter","Janis Mccarthy","Edmund Galusha","Tonisha Posey","Arvilla Medley","Briana Barbour","Delfina Kiger","Nia Lenig","Ricarda Bulow","Odell Carson","Nydia Clonts","Andree Resendez","Daniela Puma","Sherill Paavola","Gilbert Bloomquist","Shanon Mach","Justin Bangert","Arden Hokanson","Evelyne Bridge","Hee Simek","Ward Deangelis","Jodie Childs","Janis Boehme","Beaulah Glowacki","Denver Stoneham","Tarra Vinton","Deborah Hummell","Ulysses Neil","Kathryn Marques","Rosanna Dake","Gavin Wheat","Tameka Stoke","Janella Clear","Kaye Ciriaco","Suk Bloxham","Gracia Whaley","Philomena Hemingway","Claudette Vaillancourt","Olevia Piche","Trey Chiles","Idalia Scardina","Jenine Tremble","Herbert Krider","Alycia Schrock","Miss Weibel","Pearlene Neidert","Kina Callender","Charlotte Skelley","Theodora Harrigan","Sydney Shreffler","Annamae Trinidad","Tobi Mumme","Rosia Elliot","Debbra Putt","Rena Delosantos","Genna Grennan","Nieves Huf","Berry Lugo","Ayana Verdugo","Joaquin Mazzei","Doris Harmon","Patience Poss","Magaret Zabel","Marylynn Hinojos","Earlene Marcantel","Yuki Evensen","Rema Gay","Delana Haak","Patricia Fetters","Vinnie Elrod","Octavia Bellew","Burma Revard","Lakenya Kato","Vinita Buchner","Sierra Margulies","Shae Funderburg","Jenae Groleau","Louetta Howie","Astrid Duffer","Caron Altizer","Kymberly Amavisca","Mohammad Diedrich","Thora Wrinkle","Bethel Wiemann","Patria Millet","Eldridge Burbach","Alyson Eddie","Zula Hanna","Devin Goodwin","Felipa Kirkwood","Kurtis Kempf","Kasey Lenart","Deena Blankenship","Kandra Wargo","Sherrie Cieslak","Ron Atha","Reggie Barreiro","Daria Saulter","Tandra Eastman","Donnell Lucious","Talisha Rosner","Emiko Bergh","Terresa Launius","Margy Hoobler","Marylou Stelling","Lavonne Justice","Kala Langstaff","China Truett","Louanne Dussault","Thomasena Samaniego","Charlesetta Tarbell","Fatimah Lade","Malisa Cantero","Florencia Litten","Francina Fraise","Patsy London","Deloris Mclaughlin"],
    "Trainer":['Bettyann Savory','Mariah Barberio','Gordon Perrine','Pa Dargan','Blanch Victoria','Aldo Byler','Aldo Byler','Williams Camire','Junie Ritenour','Gordon Perrine','Bettyann Savory','Mariah Barberio','Aldo Byler','Barton Stecklein','Bettyann Savory','Barton Stecklein','Gordon Perrine','Pa Dargan','Aldo Byler','Brittani Brin','Bettyann Savory','Phyliss Houk','Bettyann Savory','Junie Ritenour','Aldo Byler','Calvin North','Brittani Brin','Junie Ritenour','Blanch Victoria','Brittani Brin','Bettyann Savory','Blanch Victoria','Mariah Barberio','Bettyann Savory','Blanch Victoria','Brittani Brin','Junie Ritenour','Pa Dargan','Gordon Perrine','Phyliss Houk','Pa Dargan','Mariah Barberio','Phyliss Houk','Phyliss Houk','Calvin North','Williams Camire','Brittani Brin','Gordon Perrine','Bettyann Savory','Bettyann Savory','Pa Dargan','Phyliss Houk','Barton Stecklein','Blanch Victoria','Coleman Dunmire','Phyliss Houk','Blanch Victoria','Pa Dargan','Harland Coolidge','Calvin North','Bettyann Savory','Phyliss Houk','Bettyann Savory','Harland Coolidge','Gordon Perrine','Junie Ritenour','Harland Coolidge','Blanch Victoria','Mariah Barberio','Coleman Dunmire','Aldo Byler','Bettyann Savory','Gordon Perrine','Bettyann Savory','Barton Stecklein','Harland Coolidge','Aldo Byler','Aldo Byler','Pa Dargan','Junie Ritenour','Brittani Brin','Junie Ritenour','Gordon Perrine','Mariah Barberio','Mariah Barberio','Mariah Barberio','Bettyann Savory','Brittani Brin','Aldo Byler','Phyliss Houk','Blanch Victoria','Pa Dargan','Phyliss Houk','Brittani Brin','Barton Stecklein','Coleman Dunmire','Bettyann Savory','Bettyann Savory','Gordon Perrine','Blanch Victoria','Junie Ritenour','Phyliss Houk','Coleman Dunmire','Williams Camire','Harland Coolidge','Williams Camire','Aldo Byler','Harland Coolidge','Gordon Perrine','Brittani Brin','Coleman Dunmire','Calvin North','Phyliss Houk','Brittani Brin','Aldo Byler','Bettyann Savory','Brittani Brin','Gordon Perrine','Calvin North','Harland Coolidge','Coleman Dunmire','Harland Coolidge','Aldo Byler','Junie Ritenour','Blanch Victoria','Harland Coolidge','Blanch Victoria','Junie Ritenour','Harland Coolidge','Junie Ritenour','Gordon Perrine','Brittani Brin','Coleman Dunmire','Williams Camire','Junie Ritenour','Brittani Brin','Calvin North','Barton Stecklein','Barton Stecklein','Mariah Barberio','Coleman Dunmire','Bettyann Savory','Mariah Barberio','Pa Dargan','Barton Stecklein','Coleman Dunmire','Brittani Brin','Barton Stecklein','Pa Dargan','Barton Stecklein','Junie Ritenour','Bettyann Savory','Williams Camire','Pa Dargan','Calvin North','Williams Camire','Coleman Dunmire','Aldo Byler','Barton Stecklein','Coleman Dunmire','Blanch Victoria','Mariah Barberio','Mariah Barberio','Harland Coolidge','Barton Stecklein','Phyliss Houk','Pa Dargan','Bettyann Savory','Barton Stecklein','Harland Coolidge','Junie Ritenour','Pa Dargan','Mariah Barberio','Blanch Victoria','Williams Camire','Phyliss Houk','Phyliss Houk','Coleman Dunmire','Mariah Barberio','Gordon Perrine','Coleman Dunmire','Brittani Brin','Pa Dargan','Coleman Dunmire','Brittani Brin','Blanch Victoria','Coleman Dunmire','Gordon Perrine','Coleman Dunmire','Aldo Byler','Aldo Byler','Mariah Barberio','Williams Camire','Phyliss Houk','Aldo Byler','Williams Camire','Aldo Byler','Williams Camire','Coleman Dunmire','Phyliss Houk'],
    "Weight":[128,180,193,177,237,166,224,208,177,241,114,161,162,151,220,142,193,193,124,130,132,141,190,239,213,131,172,127,184,157,215,122,181,240,218,205,239,217,234,158,180,131,194,171,177,110,117,114,217,123,248,189,198,127,182,121,224,111,151,170,188,150,137,231,222,186,139,175,178,246,150,154,129,216,144,198,228,183,173,129,157,199,186,232,172,157,246,239,214,161,132,208,187,224,164,177,175,224,219,235,112,241,243,179,208,196,131,207,182,233,191,162,173,197,190,182,231,196,196,143,250,174,138,135,164,204,235,192,114,179,215,127,185,213,250,213,153,217,176,190,119,167,118,208,113,206,200,236,159,218,168,159,156,183,121,203,215,209,179,219,174,220,129,188,217,250,166,157,112,236,182,144,189,243,238,147,165,115,160,134,245,174,238,157,150,184,174,134,134,248,199,165,117,119,162,112,170,224,247,217],
    "Membership(Days)":[52,70,148,124,186,157,127,155,37,185,158,129,93,69,124,13,76,153,164,161,48,121,167,69,39,163,7,34,176,169,108,162,195,86,155,77,197,200,80,142,179,67,58,145,188,147,125,15,13,173,125,4,61,29,132,110,62,137,197,135,162,174,32,151,149,65,18,42,63,62,104,200,189,40,38,199,1,12,8,2,195,30,7,72,130,144,2,34,200,143,43,196,22,115,171,54,143,59,14,52,109,115,187,185,26,19,178,18,120,169,45,52,130,69,168,178,96,22,78,152,39,51,118,130,60,156,108,69,103,158,165,142,86,91,117,77,57,169,86,188,97,111,22,83,81,177,163,35,12,164,21,181,171,138,22,107,58,51,38,128,19,193,157,13,104,89,13,10,26,190,179,101,7,159,100,49,120,109,56,199,51,108,47,171,69,162,74,119,148,88,32,159,65,146,140,171,88,18,59,13]
})
training_df.head(10)

                Name          Trainer  Weight  Membership(Days)
0        Gino Walker  Bettyann Savory     128                52
1       Hiedi Wasser  Mariah Barberio     180                70
2      Kerrie Wetzel   Gordon Perrine     193               148
3  Elizabeth Sackett        Pa Dargan     177               124
4        Jack Mitten  Blanch Victoria     237               186
5    Madalene Wayman       Aldo Byler     166               157
6      Jamee Horvath       Aldo Byler     224               127
7      Arlena Reddin  Williams Camire     208               155
8         Tula Levan   Junie Ritenour     177                37
9      Teisha Dreier   Gordon Perrine     241               185

In [50]:
training_df.describe()

TypeError: describe() missing 1 required positional argument: 'self'

In [51]:
training_df.unique"Trainer Names"

SyntaxError: invalid syntax (<ipython-input-51-b8f68de53d91>, line 1)

In [52]:
training_df["Trainer"].unique()

TypeError: 'type' object is not subscriptable

In [53]:
training_df["Trainer"].unique()

TypeError: 'type' object is not subscriptable

In [54]:
import pandas as pd

In [55]:
training_df["Trainer"].unique()

TypeError: 'type' object is not subscriptable

In [56]:
import pandas as pd

In [57]:
training_df = pd.DataFrame({
    "Name":["Gino Walker","Hiedi Wasser","Kerrie Wetzel","Elizabeth Sackett","Jack Mitten","Madalene Wayman","Jamee Horvath","Arlena Reddin","Tula Levan","Teisha Dreier","Leslie Carrier","Arlette Hartson","Romana Merkle","Heath Viviani","Andres Zimmer","Allyson Osman","Yadira Caggiano","Jeanmarie Friedrichs","Leann Ussery","Bee Mom","Pandora Charland","Karena Wooten","Elizabet Albanese","Augusta Borjas","Erma Yadon","Belia Lenser","Karmen Sancho","Edison Mannion","Sonja Hornsby","Morgan Frei","Florencio Murphy","Christoper Hertel","Thalia Stepney","Tarah Argento","Nicol Canfield","Pok Moretti","Barbera Stallings","Muoi Kelso","Cicely Ritz","Sid Demelo","Eura Langan","Vanita An","Frieda Fuhr","Ernest Fitzhenry","Ashlyn Tash","Melodi Mclendon","Rochell Leblanc","Jacqui Reasons","Freeda Mccroy","Vanna Runk","Florinda Milot","Cierra Lecompte","Nancey Kysar","Latasha Dalton","Charlyn Rinaldi","Erline Averett","Mariko Hillary","Rosalyn Trigg","Sherwood Brauer","Hortencia Olesen","Delana Kohut","Geoffrey Mcdade","Iona Delancey","Donnie Read","Cesar Bhatia","Evia Slate","Kaye Hugo","Denise Vento","Lang Kittle","Sherry Whittenberg","Jodi Bracero","Tamera Linneman","Katheryn Koelling","Tonia Shorty","Misha Baxley","Lisbeth Goering","Merle Ladwig","Tammie Omar","Jesusa Avilla","Alda Zabala","Junita Dogan","Jessia Anglin","Peggie Scranton","Dania Clodfelter","Janis Mccarthy","Edmund Galusha","Tonisha Posey","Arvilla Medley","Briana Barbour","Delfina Kiger","Nia Lenig","Ricarda Bulow","Odell Carson","Nydia Clonts","Andree Resendez","Daniela Puma","Sherill Paavola","Gilbert Bloomquist","Shanon Mach","Justin Bangert","Arden Hokanson","Evelyne Bridge","Hee Simek","Ward Deangelis","Jodie Childs","Janis Boehme","Beaulah Glowacki","Denver Stoneham","Tarra Vinton","Deborah Hummell","Ulysses Neil","Kathryn Marques","Rosanna Dake","Gavin Wheat","Tameka Stoke","Janella Clear","Kaye Ciriaco","Suk Bloxham","Gracia Whaley","Philomena Hemingway","Claudette Vaillancourt","Olevia Piche","Trey Chiles","Idalia Scardina","Jenine Tremble","Herbert Krider","Alycia Schrock","Miss Weibel","Pearlene Neidert","Kina Callender","Charlotte Skelley","Theodora Harrigan","Sydney Shreffler","Annamae Trinidad","Tobi Mumme","Rosia Elliot","Debbra Putt","Rena Delosantos","Genna Grennan","Nieves Huf","Berry Lugo","Ayana Verdugo","Joaquin Mazzei","Doris Harmon","Patience Poss","Magaret Zabel","Marylynn Hinojos","Earlene Marcantel","Yuki Evensen","Rema Gay","Delana Haak","Patricia Fetters","Vinnie Elrod","Octavia Bellew","Burma Revard","Lakenya Kato","Vinita Buchner","Sierra Margulies","Shae Funderburg","Jenae Groleau","Louetta Howie","Astrid Duffer","Caron Altizer","Kymberly Amavisca","Mohammad Diedrich","Thora Wrinkle","Bethel Wiemann","Patria Millet","Eldridge Burbach","Alyson Eddie","Zula Hanna","Devin Goodwin","Felipa Kirkwood","Kurtis Kempf","Kasey Lenart","Deena Blankenship","Kandra Wargo","Sherrie Cieslak","Ron Atha","Reggie Barreiro","Daria Saulter","Tandra Eastman","Donnell Lucious","Talisha Rosner","Emiko Bergh","Terresa Launius","Margy Hoobler","Marylou Stelling","Lavonne Justice","Kala Langstaff","China Truett","Louanne Dussault","Thomasena Samaniego","Charlesetta Tarbell","Fatimah Lade","Malisa Cantero","Florencia Litten","Francina Fraise","Patsy London","Deloris Mclaughlin"],
    "Trainer":['Bettyann Savory','Mariah Barberio','Gordon Perrine','Pa Dargan','Blanch Victoria','Aldo Byler','Aldo Byler','Williams Camire','Junie Ritenour','Gordon Perrine','Bettyann Savory','Mariah Barberio','Aldo Byler','Barton Stecklein','Bettyann Savory','Barton Stecklein','Gordon Perrine','Pa Dargan','Aldo Byler','Brittani Brin','Bettyann Savory','Phyliss Houk','Bettyann Savory','Junie Ritenour','Aldo Byler','Calvin North','Brittani Brin','Junie Ritenour','Blanch Victoria','Brittani Brin','Bettyann Savory','Blanch Victoria','Mariah Barberio','Bettyann Savory','Blanch Victoria','Brittani Brin','Junie Ritenour','Pa Dargan','Gordon Perrine','Phyliss Houk','Pa Dargan','Mariah Barberio','Phyliss Houk','Phyliss Houk','Calvin North','Williams Camire','Brittani Brin','Gordon Perrine','Bettyann Savory','Bettyann Savory','Pa Dargan','Phyliss Houk','Barton Stecklein','Blanch Victoria','Coleman Dunmire','Phyliss Houk','Blanch Victoria','Pa Dargan','Harland Coolidge','Calvin North','Bettyann Savory','Phyliss Houk','Bettyann Savory','Harland Coolidge','Gordon Perrine','Junie Ritenour','Harland Coolidge','Blanch Victoria','Mariah Barberio','Coleman Dunmire','Aldo Byler','Bettyann Savory','Gordon Perrine','Bettyann Savory','Barton Stecklein','Harland Coolidge','Aldo Byler','Aldo Byler','Pa Dargan','Junie Ritenour','Brittani Brin','Junie Ritenour','Gordon Perrine','Mariah Barberio','Mariah Barberio','Mariah Barberio','Bettyann Savory','Brittani Brin','Aldo Byler','Phyliss Houk','Blanch Victoria','Pa Dargan','Phyliss Houk','Brittani Brin','Barton Stecklein','Coleman Dunmire','Bettyann Savory','Bettyann Savory','Gordon Perrine','Blanch Victoria','Junie Ritenour','Phyliss Houk','Coleman Dunmire','Williams Camire','Harland Coolidge','Williams Camire','Aldo Byler','Harland Coolidge','Gordon Perrine','Brittani Brin','Coleman Dunmire','Calvin North','Phyliss Houk','Brittani Brin','Aldo Byler','Bettyann Savory','Brittani Brin','Gordon Perrine','Calvin North','Harland Coolidge','Coleman Dunmire','Harland Coolidge','Aldo Byler','Junie Ritenour','Blanch Victoria','Harland Coolidge','Blanch Victoria','Junie Ritenour','Harland Coolidge','Junie Ritenour','Gordon Perrine','Brittani Brin','Coleman Dunmire','Williams Camire','Junie Ritenour','Brittani Brin','Calvin North','Barton Stecklein','Barton Stecklein','Mariah Barberio','Coleman Dunmire','Bettyann Savory','Mariah Barberio','Pa Dargan','Barton Stecklein','Coleman Dunmire','Brittani Brin','Barton Stecklein','Pa Dargan','Barton Stecklein','Junie Ritenour','Bettyann Savory','Williams Camire','Pa Dargan','Calvin North','Williams Camire','Coleman Dunmire','Aldo Byler','Barton Stecklein','Coleman Dunmire','Blanch Victoria','Mariah Barberio','Mariah Barberio','Harland Coolidge','Barton Stecklein','Phyliss Houk','Pa Dargan','Bettyann Savory','Barton Stecklein','Harland Coolidge','Junie Ritenour','Pa Dargan','Mariah Barberio','Blanch Victoria','Williams Camire','Phyliss Houk','Phyliss Houk','Coleman Dunmire','Mariah Barberio','Gordon Perrine','Coleman Dunmire','Brittani Brin','Pa Dargan','Coleman Dunmire','Brittani Brin','Blanch Victoria','Coleman Dunmire','Gordon Perrine','Coleman Dunmire','Aldo Byler','Aldo Byler','Mariah Barberio','Williams Camire','Phyliss Houk','Aldo Byler','Williams Camire','Aldo Byler','Williams Camire','Coleman Dunmire','Phyliss Houk'],
    "Weight":[128,180,193,177,237,166,224,208,177,241,114,161,162,151,220,142,193,193,124,130,132,141,190,239,213,131,172,127,184,157,215,122,181,240,218,205,239,217,234,158,180,131,194,171,177,110,117,114,217,123,248,189,198,127,182,121,224,111,151,170,188,150,137,231,222,186,139,175,178,246,150,154,129,216,144,198,228,183,173,129,157,199,186,232,172,157,246,239,214,161,132,208,187,224,164,177,175,224,219,235,112,241,243,179,208,196,131,207,182,233,191,162,173,197,190,182,231,196,196,143,250,174,138,135,164,204,235,192,114,179,215,127,185,213,250,213,153,217,176,190,119,167,118,208,113,206,200,236,159,218,168,159,156,183,121,203,215,209,179,219,174,220,129,188,217,250,166,157,112,236,182,144,189,243,238,147,165,115,160,134,245,174,238,157,150,184,174,134,134,248,199,165,117,119,162,112,170,224,247,217],
    "Membership(Days)":[52,70,148,124,186,157,127,155,37,185,158,129,93,69,124,13,76,153,164,161,48,121,167,69,39,163,7,34,176,169,108,162,195,86,155,77,197,200,80,142,179,67,58,145,188,147,125,15,13,173,125,4,61,29,132,110,62,137,197,135,162,174,32,151,149,65,18,42,63,62,104,200,189,40,38,199,1,12,8,2,195,30,7,72,130,144,2,34,200,143,43,196,22,115,171,54,143,59,14,52,109,115,187,185,26,19,178,18,120,169,45,52,130,69,168,178,96,22,78,152,39,51,118,130,60,156,108,69,103,158,165,142,86,91,117,77,57,169,86,188,97,111,22,83,81,177,163,35,12,164,21,181,171,138,22,107,58,51,38,128,19,193,157,13,104,89,13,10,26,190,179,101,7,159,100,49,120,109,56,199,51,108,47,171,69,162,74,119,148,88,32,159,65,146,140,171,88,18,59,13]
})
training_df.head(10)

                Name          Trainer  Weight  Membership(Days)
0        Gino Walker  Bettyann Savory     128                52
1       Hiedi Wasser  Mariah Barberio     180                70
2      Kerrie Wetzel   Gordon Perrine     193               148
3  Elizabeth Sackett        Pa Dargan     177               124
4        Jack Mitten  Blanch Victoria     237               186
5    Madalene Wayman       Aldo Byler     166               157
6      Jamee Horvath       Aldo Byler     224               127
7      Arlena Reddin  Williams Camire     208               155
8         Tula Levan   Junie Ritenour     177                37
9      Teisha Dreier   Gordon Perrine     241               185

In [58]:
training_df.columns  Out [3]:  Index(['Membership(Days)', 'Name', 'Trainer', 'Weight'], dtype='object')

SyntaxError: invalid syntax (<ipython-input-58-feb64e90861e>, line 1)

In [59]:
import pandas as pd

In [60]:
hey_arnold_df = pd.DataFrame(
    {"Character_in_show": ["Arnold", "Gerald", "Helga", "Phoebe", "Harold", "Eugene"],
     "color_of_hair": ["blonde", "black", "blonde", "black", "unknown", "red"],
     "Height": ["average", "tallish", "tallish", "short", "tall", "short"],
     "Football_Shaped_Head": [True, False, False, False, False, False]
     })

In [61]:
renamed_df = hey_arnold_df.rename(columns={"Character_in_show":"Character", "color_of_hair":"Hair Color","Football_Shaped_Head": "Football Head"})
renamed_df.head()

  Character Hair Color   Height  Football Head
0    Arnold     blonde  average           True
1    Gerald      black  tallish          False
2     Helga     blonde  tallish          False
3    Phoebe      black    short          False
4    Harold    unknown     tall          False

In [63]:
renamed_df = hey_arnold_df.rename(columns=[["Character","Football Head""Hair Color","Height"]])
renamed_df.head()

TypeError: 'list' object is not callable

In [65]:
renamed_df = hey_arnold_df.rename(columns","Foot{["Character","Football Head""Hair Color","Height"]})
renamed_df.head()

SyntaxError: invalid syntax (<ipython-input-65-d360e65e0774>, line 1)

In [66]:
"Character","Football Head""Hair Color","Height"

TypeError: 'list' object is not callable

In [67]:
hey_arnold_renamed_df = hey_arnold_df.rename(
    columns=
    {
        "Character_in_show": "Character",
        "color_of_hair": "Hair Color",
        "Height": "Height",
        "Football_Shaped_Head": "Football Head"
    }
)
hey_arnold_renamed_df

  Character Hair Color   Height  Football Head
0    Arnold     blonde  average           True
1    Gerald      black  tallish          False
2     Helga     blonde  tallish          False
3    Phoebe      black    short          False
4    Harold    unknown     tall          False
5    Eugene        red    short          False

In [68]:
hey_arnold_alphabetical_df = hey_arnold_renamed_df[
    [
        "Character",
        "Football Head",
        "Hair Color",
        "Height"
    ]
]
hey_arnold_alphabetical_df

  Character  Football Head Hair Color   Height
0    Arnold           True     blonde  average
1    Gerald          False      black  tallish
2     Helga          False     blonde  tallish
3    Phoebe          False      black    short
4    Harold          False    unknown     tall
5    Eugene          False        red    short

In [69]:
hey_arnold_alphabetical_df.csv

AttributeError: 'DataFrame' object has no attribute 'csv'

In [70]:
hey_arnold_alphabetical_df = pd.read_csv(file_one, encoding UTF8)

SyntaxError: invalid syntax (<ipython-input-70-f1628279fc99>, line 1)

In [71]:
import panda

ModuleNotFoundError: No module named 'panda'

In [72]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [73]:
import pandas as pd

In [91]:
csv_path = "Resources/books.csv"

In [75]:
books_df = books.csv

NameError: name 'books' is not defined

In [77]:
books_df.rename ("isbn", "original_publication_year", "original_title", "authors", "ratings_1", "ratings_2", "ratings_3", "ratings_4""" ratings_5")

SyntaxError: invalid syntax (<ipython-input-77-14e052c97bf0>, line 1)

In [92]:
books_df. = renamed_books_df({"isbn", 
                 "original_publication_year",
                 "original_title",
                 "authors", "ratings_1", 
                 "ratings_2", 
                 "ratings_3",
                 "ratings_4"
                 "ratings_5"
                 })
books_df.head()

SyntaxError: invalid syntax (<ipython-input-92-716677897403>, line 1)

In [93]:
import pandas as pd

In [94]:
import pandas as pd

In [95]:
books_df.sum(Authors)

AttributeError: 'str' object has no attribute 'sum'

In [96]:
books_df.unique(Authors)

AttributeError: 'str' object has no attribute 'unique'

In [97]:
author_count = len(books_df["Authors"].unique())

TypeError: string indices must be integers

In [99]:
total_reviews = (books_df["One Star Reviews"].sum() + books_df["Two Star Reviews"].sum() + 
                books_df["Three Star Reviews"].sum() + books_df["Four Star Reviews"].sum() + 
                books_df["Five Star Reviews"].sum())

TypeError: string indices must be integers

In [100]:
import pandas as pd

In [101]:
file = "2/Activities/01-Ins_LocAndIloc/Solved/Resources/sampledata.csv"